* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --primary: #5928E5;
    --secondary: #72757E;
    --grey60: #16161A;
    --grey50: #242629;
    --grey40: #94A1B2;
    --white40: #FFFFFE;
    --purple30: #7F5AF0;
    --tertiary40: #2CB67D;

}
body{
  font-family: 'Arvo', sans-serif;
  background: var(--grey60);
}

h1{
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  color: var(--white40);
}
h2{
  font-weight: bold;
  font-size: 64px;
  line-height: 76px;
}
h3{
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
}
h4{
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
}
h5{
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}
p{
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: var(--secondary);
}
.p-body1-bold{
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}
.p-body2-normal{
  font-size: 14px;
  line-height: 27px;
}

.p-body2-bold{
  font-weight: bold;
  font-size: 14px;
  line-height: 27px;
}
.p-button{
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.caption{
  font-size: 12px;
  line-height: 27px;
}
.button-principal{

}
.button-secondary{

}
.button-tertiary{

}
.button-large{

}


/* Desktop Styles */
@media only screen and (min-width: 961px) {
  h1{
    font-size: 72px;
    line-height: 80px;
  }
}