* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --primary: #5928E5;
    --secondary: #72757E;
    --grey60: #16161A;
    --grey50: #242629;
    --grey40: #94A1B2;
    --white40: #FFFFFE;
    --purple30: #7F5AF0;
    --tertiary40: #2CB67D;

}
body{
  font-family: 'Arvo', sans-serif;
  background: var(--grey60);
}

h1{
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  color: var(--white40);
}
h2{
  font-weight: bold;
  font-size: 64px;
  line-height: 76px;
}
h3{
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
}
h4{
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
}
h5{
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: var(--grey40);
}
p{
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: var(--secondary);
}
img{
  max-width: 100%;
}

.p-body1-bold{
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}
.p-body2-normal{
  font-size: 14px;
  line-height: 27px;
  color: var(--white40);
}

.p-body2-bold{
  font-weight: bold;
  font-size: 14px;
  line-height: 27px;
}
.caption{
  font-size: 12px;
  line-height: 27px;
}
.button-principal,.button-secondary{
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Arvo', sans-serif;
  margin-block-start: 1em;
  padding-block: 12px;
  padding-inline: 24px;

  font-size: 18px;
  text-align: center;
}

.button-principal{
  background: var(--purple30);
  border: 1px solid var(--purple30);
  color: var(--white40);

}
.button-secondary{
  background: transparent;
  border: 1px solid var(--purple30);
  color: var(--purple30);
}
.button-tertiary{

}
.button-large{

}


/* Menu */
.hero {
  position: sticky;
  top: 0;
  z-index: 1;
}
.hero-content {
  position:relative;
}
header {
  display: flex;
  padding-inline: 20px;
  padding-block: 20px;
  background: var(--grey60);
  justify-content: space-between;
  border-bottom: 1px solid var(--purple30) ;
}
.header-menu{
  display: none;


}
#title-hero{
  font-size: 24px;
  color: var(--white40);
  font-weight: bold;
}
.header-menu a {
  margin-inline: 20px;
  text-transform: uppercase;
  text-decoration: none;
   color: white;
}
/* Fin de Menu */

/* presentation */
.presentation{
  display: flex;
   /* box-sizing: content-box; */
}
.presentation-content{
  display: flex;
  flex-direction: column;
  margin-block: 80px;
  margin-inline: 1em;
  align-items: flex-start;
}
.presentation-content p{
  margin-block: 1em;
}
/* Fin de presentation */


/* projects */
.projects{
  display: flex;
}
.projects-content{
  display: flex;
  flex-direction: column;
  margin-block: 80px;
  margin-inline: 1em;
}
.card-project-mobile{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}
.card-project-mobile img{
  margin-block-start: 40px;
}
.card-project-mobile p{
  margin-block: 1em;
}
.group-button-projec .button-secondary{
  margin-block: 1em;
}
/* Fin de projects */

/* brands */
.brands{
  display: flex;
}
.brands-content{
  display: flex;
  flex-direction: column;
  margin-block-end: 80px;
  margin-inline: 1em;
}
.group-img-brands{
  display: flex;
  flex-direction: column;
  padding-block-start: 40px;
}
.group-img-brands img{
  padding-inline: 100px;
  padding-block: 40px;
}
/* Fin de brands */

/* contacts */

.contacts{
  margin-block: 40px;
  margin-inline: 1em;
}
.contacts a{
  color: var(--purple30);
}
/* Fin de contacts */

/* footer  */
.footer-content{
  margin-inline: 1em;
  margin-block-end: 100px;

}
.footer-social p{
  padding-block-start: 1em;
}
/* Fin de footer  */

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  h1{
    font-size: 55px;
    line-height: 60px;
  }
  .wrapper {
    max-inline-size: 960px;
    margin: auto;
  }
  .main-content {
    padding-block-start: 60px;
    margin: 16px;
    /* padding-inline: 16px; */
  }


  /* Menu */
  header {
    justify-content: space-between;
  }
  .header-menu{
    display: flex;
    flex-direction: row;
  }
  .header-option{
    color: var(--white40);
  }
  .header-icon{ display: none;}
  /* Fin de Menu */



  /* projects */
  .projects{
    padding-inline: 80px;
  }
  .projects-content{
    flex-direction: column;
    margin-block: 0;
    margin-inline: 1em;
    }
  .projects-content h1{
    font-size: 64px ;
    line-height: 76px;
  }
  .button-secondary{
    margin-inline-end: 10px;
  }
  /* Fin de projects */


  /* brands */
  .brands{
    padding-inline: 10px;
    padding-block-start: 80px;
  }
  .brands-content h1{
    font-size: 40px ;
    line-height: 56px;
  }
  .group-img-brands{
    margin-inline: 80px;
    flex-direction: row;
    justify-content: center;
    padding-block-start: 40px;

  }
  .group-img-brands img{
    margin-inline: 1px;
    padding-block: 5px;
    height: 50px;
  }
  /* Fin de brands */

  /* contacts */

  .contacts{
    margin-inline:10px;
  }
  .contacts h1{
    font-size: 40px ;
    line-height: 56px;
  }
  /* Fin de contacts */

  /* footer  */
  .footer{
    display: flex;
    justify-content: flex-start;
  }
  .footer-content{
    display: flex;
    flex-direction: row;
    margin-inline: 1em;
    padding-block-end: 100px;

    padding-block-start: 60px;
    margin: 16px;
  }
  .footer-social p{
    display: flex;
    flex-direction: column;
    padding-block-start: 1em;
    margin-inline-end: 150px;
  }
  .items-footer{
  }
}